$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Gibson', sans-serif;
$white-color: #fff;
$black-color: #09142F;
$primary-color: #3E6DDA;
$purple-color: #7B61FF;
$red-color: #EC2B08;
$bright-gray-1-color: #828292;
$bright-gray-2-color: #9B9BA8;
$bright-gray-3-color: #B4B4BE;
$bright-gray-4-color: #E9E9EC;
$bright-gray-5-color: #F6F6F8;
$dark-gray-1-color: #141417;
$dark-gray-3-color: #3F3F49;
$dark-gray-4-color: #555562;
$dark-gray-5-color: #6B6B7B;

$main-menu-width: 88px;
$sub-menu-width: 230px;
$divider-color: #E0E0E0;